html {
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
    height:3em;
    width:3em;
    border: 1px solid black;
    text-align: center;
    line-height:3rem;
  }
  
#header{
  text-align: center;
}


#main-container{
    width:9rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    gap: 2px;
  }
  
.reset {
    margin: auto;
    margin-top: 2em;
    text-align:center;
    border: 1px solid black;
    border-radius: 1em;
    width: 3rem;
    padding: 0.2em;
  }
  
.reset:hover{
    cursor:pointer;
  }

.gameForm {
  width: 15em;
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photo {
  height: 15em;
  margin-bottom: 1em;
}

.gameInfo{
  position: fixed;
  top: 0;
  left: 30%;
  padding-left: 10em;
  z-index: 10;
  background-color: #fff;
}

.none {
  display: none;
}